* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f5ef;
}



.login-page {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
}

.lado-esquerdo {
    background: linear-gradient(135deg, #ff914d, #ffb86b);
    color: white;
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.lado-esquerdo::before {
    content: "🐾";
    position: absolute;
    font-size: 300px;
    opacity: 0.12;
    right: -40px;
    bottom: -60px;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 60px;
}

.lado-esquerdo h1 {
    font-size: 48px;
    max-width: 600px;
    margin-bottom: 20px;
}

.lado-esquerdo p {
    font-size: 18px;
    max-width: 520px;
    line-height: 1.6;
    margin-bottom: 35px;
}

.beneficios {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.beneficios span {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 14px 18px;
    border-radius: 30px;
    width: fit-content;
    font-weight: bold;
}

.lado-direito {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.form-login {
    width: 100%;
    max-width: 420px;
    padding: 40px;
    border-radius: 24px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}

.form-login h2 {
    color: #2b2b2b;
    font-size: 30px;
    margin-bottom: 8px;
}

.subtitulo {
    color: #777;
    margin-bottom: 30px;
}

.form-login label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #444;
}

.form-login input {
    width: 100%;
    padding: 14px;
    margin-bottom: 20px;
    border: 2px solid #eee;
    border-radius: 12px;
    font-size: 15px;
    transition: 0.3s;
}

.form-login input:focus {
    outline: none;
    border-color: #ff914d;
    box-shadow: 0 0 0 4px rgba(255, 145, 77, 0.15);
}

.form-login button {
    width: 100%;
    padding: 15px;
    background-color: #ff914d;
    color: white;
    border: none;
    border-radius: 14px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.form-login button:hover {
    background-color: #e86f20;
    transform: translateY(-2px);
}

.criar-conta {
    margin-top: 24px;
    text-align: center;
    color: #666;
}

.criar-conta a {
    color: #ff914d;
    text-decoration: none;
    font-weight: bold;
}

.criar-conta a:hover {
    text-decoration: underline;
}
.logo-area {
    margin-bottom: 40px;
}

.logo-area img {
    width: 220px;
    max-width: 100%;
    display: block;
}

